.contact-item {
	
	width: 100%;
	max-width: 400px;
	padding: 30px;
    margin: auto;
	margin-bottom: 15px;
    background: #e49a9a;
    border-radius: 20px;
	display: flex;
    flex-direction: row;
}

.contact-photo {
	max-width: 100px;
    border-radius: 10px;
}
.contact-photo img{ 
	width: 100%;
    border-radius: 20px;
}
.contact-detail {
	text-align: center;
	width: 100%;
}
.contact-detail ul {
	margin-top: 0;
	list-style: none;
}
.contact-detail li {
	margin: 5px;
}